<!DOCTYPE html>
<html>
  <head>
    <title>TogetherNote</title>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
    <link rel="icon" href="<%= image_url('whale_logo2.png') %>"
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <script>
      window.logo = '<%= asset_path('whale_logo.svg') %>'
      window.noteSplash = '<%= asset_path('note_splash.svg') %>'
      window.logoutButton = '<%= asset_path('logout_button.svg') %>'
      window.newNote = '<%= asset_path('new_note.svg') %>'
      window.notebooks = '<%= asset_path('notebooks.svg') %>'
      window.recycling = '<%= asset_path('recycling.svg') %>'
      window.xOut = '<%= asset_path('x_out.svg') %>'
      window.introVideo = '<%= asset_path('intro_video.mov') %>'
      window.tag = '<%= asset_path('tag.svg') %>'
      window.tags = '<%= asset_path('tags.svg') %>'
      window.upload = '<%= asset_path('upload.svg') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
